@{
    ViewData["title"] = "Gracias";
}

<h1 class="mb-3">Gracias por ponerte en contacto conmigo</h1>

<p>Te contestaré el mensaje lo más pronto</p>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Volver al Home</a>
</div>