@model string

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Imagen de Kevin" />
</div>
