@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy Kevin Acuña</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img style="width:200px; margin: 2rem 0; border-radius: 50%" src="~/imagenes/foto.jpg" alt="Imagen de Kevin" />
</div>
