@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Soy Kevin Acuña</h1>

    <h2>Soy un desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Imagen de Kevin" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="Dotnet Logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>Nisl eum nonumy lorem sea et consetetur sit lorem sadipscing vulputate lorem delenit est no dolore accusam facilisis hendrerit duo ea accumsan in eos suscipit no facilisi lorem elit et et stet vero aliquyam quis eirmod dolor enim exerci eleifend amet eirmod sea clita aliquyam tempor dolor dolor consequat diam</p>
    </div>
</div>
